.main1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn
{
  font-size: 30px;
  padding: 5px;
  border-radius:35px ;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  cursor: pointer;
}