.container{
  padding: 0;
  margin: 0;
  background-color: rgb(190, 232, 128);
  height: 100vh;
  width: 100%;
}
.main1{
 padding: 0;
 color: green;
}
.head{
  display: flex;
  justify-content: center;
}
.head1{
  display: flex;
  justify-content: center;
}
.para{
  font-size: 20px;

}